<div class="container text-center mt-5">
    <p class="lead text-muted">Deleted post <%= params %> successfully</p>
    <%= link_to "Back to admin page", admin_page_index_path, {:class =>"btn btn-primary my-2"} %>
</div>
