<section class="text-center mt-5">
    <div class="container">
        <h1>You're in admin page</h1>
        <p class="lead text-muted">You can edit or add new posts here</p>
        <%= link_to "Edit posts", admin_page_show_path, {:class =>"btn btn-primary my-2"} %>
        <%= link_to "New post", admin_page_new_path, {:class =>"btn btn-primary my-2"} %>
    </div>
</section>